/* navbar */
:root {
    --orange: rgb(235, 121, 80);
}

.bg-orange {
    background-color: var(--orange) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.btn-orange {
    background-color: var(--orange);
    color: white;
    border: none;
}

.btn-orange:hover {
    background-color: #d35400;
    color: white;
}

/* Banner */
.banner {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--orange), #e67e22);
}

/* Banner Animations */
#promo-text {
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.text-fade-out {
    opacity: 0;
    transform: translateY(-10px);
}

.text-fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Prodotto in evidenza */
.product-image-container {
    max-width: 100%; 
    padding: 0 15px;
}

.product-thumbnail {
    max-width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: contain;
    display: block;
}

/* mobile */
@media (max-width: 768px) {
    /* navbar */
    .navbar-nav {
        gap: 0.5rem !important;
    }

    /* Prodotto in evidenza */
    .card-body {
        padding-left: 0 !important; 
    }
}