#inPrimoPiano {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#inPrimoPiano img {
    border: solid 1px black;
}

#myH4 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#altreImmagini {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#altreImmagini img {
    border: solid 1px black;
}