body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(65, 65, 227);
    border: solid 1px rgb(65, 65, 227);
    height: 5em;
    width: 100%;
    display: flex;
}

.logoPlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
    background-color: rgb(227, 89, 65);
    border: black solid 1px;
    border-radius: 50px;
}

.logo{
    height: 5em;
    width: auto;
}

.box {
    margin-top: 1em;
    background-color: #eee;
    width: 75%;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

input {
    width: 100%;
    /*width: 240px;*/
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

.fa-solid:hover {
    color: orangered;
    cursor: pointer;
}

.icons {
    display: flex;
}

.iconsIMG {
    height: 5em;
    width: auto;
    margin-left: 1em;
    background-color: rgb(227, 89, 65);
    border-radius: 50px;
}

#cart {
    right: 1em;
}

.navBar ul{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: auto;
    margin: 0;
    list-style-type: none;
    background-color: rgb(227, 89, 65);
}

.navBar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border: rgb(227, 89, 65) solid 1px;
    border-radius: 50px;
    border-style: solid;
}

.navBar a:hover {
    background-color: rgba(117, 117, 117, 0.495);
    /*background-color: rgba(116, 116, 116, 0.736);*/
    cursor: pointer;
}

.navBar li{
    float: left;
    text-align: center;
}